* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

.hover-up {
  display: inline-block;
}
.hover-up:hover {
  transform: translateY(-3px);
}

.orange-bg-color {
  background-color: #FAB758;
}

.btn-modern {
  transition: 0.3s ease;
  color: white !important;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: 500;
}
.btn-modern:hover {
  box-shadow: 0px 10px 24px 0px rgba(85, 85, 85, 0.27);
  -webkit-box-shadow: 0px 10px 24px 0px rgba(85, 85, 85, 0.27);
  -moz-box-shadow: 0px 10px 24px 0px rgba(85, 85, 85, 0.27);
}

section {
  padding: 100px 0 50px;
}

.url-box {
  width: 100%;
  padding: 20px 0 0 8px;
  display: flex;
}
.url-box input {
  padding: 11.5px 0 11.5px 25px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.31);
}
.url-box input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.81);
  font-weight: normal;
}
.url-box input::placeholder {
  color: rgba(128, 128, 128, 0.81);
  font-weight: normal;
}
.url-box .btn-modern {
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.box-header h6 {
  color: #AAB0BC;
  padding-bottom: 10px;
}
.box-header h1 {
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 2.1em;
  line-height: 45px;
}
.box-header p {
  font-size: 1.1em;
  line-height: 28px;
}

#header {
  background-color: #FFF;
  width: 100%;
  box-shadow: 0px 7px 114px -12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 7px 114px -12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 114px -12px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
}
#header .container nav .right-side {
  padding: 30px 0 15px;
}
#header .container nav .nav-menu ul li a,
#header .container nav .right-side ul li a {
  color: #2B3244;
  font-weight: 500;
  font-size: 1.1em;
}
#header .container nav .nav-menu {
  transform: translateY(6px);
}
#header .container nav .nav-menu .nav-menu-lg {
  display: none;
}
#header .container nav .nav-menu .nav-menu-lg ul li a {
  padding: 0 40px 0 0;
}
#header .container nav .nav-menu .nav-menu-lg ul li a:hover {
  color: #FFC41D;
}
#header .container nav .nav-menu .nav-menu-md ul {
  position: relative;
}
#header .container nav .nav-menu .nav-menu-md ul li {
  padding: 0 15px;
  height: -moz-fit-content;
  height: fit-content;
}
#header .container nav .nav-menu .nav-menu-md ul li:first-child {
  scale: 0.8;
  padding: 0;
}
#header .container nav .nav-menu .nav-menu-md ul .search-icon {
  display: none;
}
#header .container nav .nav-menu .nav-menu-md ul .burger-bar {
  scale: 1.5;
}
#header .container nav .nav-menu .nav-menu-md ul .btn-modern {
  background-color: #3F78E0;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 10px 20px;
}
#header .container nav .right-side {
  display: none;
}
#header .container nav .right-side ul li a {
  padding: 0 5px;
}
#header .container nav .right-side ul li a:hover {
  color: #FFC41D;
}

#start {
  padding: 120px 0 50px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #FFF8EF 0%, rgba(255, 255, 255, 0) 100%);
}
#start .container .row .text-box h1 {
  color: #343f52;
  font-size: 2em;
  font-weight: 700;
  padding: 50px 0 10px;
}
#start .container .row .text-box p {
  font-size: 1.5em;
}
#start .container .row .text-box .btn-hover {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.2em;
}

#services {
  background-color: #fefefe;
}
#services .container .slides .slide {
  background-color: white;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 5px 35px 0 rgba(30, 34, 40, 0.07);
  padding: 30px;
}
#services .container .slides .slide a {
  font-weight: 600;
  position: relative;
}
#services .container .slides .slide a i {
  font-size: 12px;
}
#services .container .slides .slide a::after {
  transition: 0.3s ease;
  content: "";
  position: absolute;
  width: 0;
  bottom: -5px;
  right: 0;
  height: 1px;
}
#services .container .slides .slide a:hover::after {
  left: 0;
  width: 100%;
}
#services .container .slides .slide .icon-box i {
  font-size: 2.5em;
}
#services .container .slides .slide h3 {
  padding: 15px 0 10px 0;
  font-size: 1.3em;
  font-weight: 500;
}
#services .container .slides .slide:first-child .icon-box,
#services .container .slides .slide:first-child a {
  color: #fab758;
}
#services .container .slides .slide:first-child .icon-box::after,
#services .container .slides .slide:first-child a::after {
  background-color: #FAB758;
}
#services .container .slides .slide:nth-child(2) .icon-box,
#services .container .slides .slide:nth-child(2) a {
  color: #e2626b;
}
#services .container .slides .slide:nth-child(2) .icon-box::after,
#services .container .slides .slide:nth-child(2) a::after {
  background-color: #e2626b;
}
#services .container .slides .slide:nth-child(3) .icon-box,
#services .container .slides .slide:nth-child(3) a {
  color: #45c4a0;
}
#services .container .slides .slide:nth-child(3) .icon-box::after,
#services .container .slides .slide:nth-child(3) a::after {
  background-color: #45c4a0;
}
#services .container .slides .slide:last-child .icon-box,
#services .container .slides .slide:last-child a {
  color: #3f78e0;
}
#services .container .slides .slide:last-child .icon-box::after,
#services .container .slides .slide:last-child a::after {
  background-color: #3f78e0;
}

#website {
  padding-bottom: 180px;
  margin-top: 1050px;
  background-color: transparent;
  background-image: linear-gradient(0deg, #FFF8EF 0%, #FFFFFF 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}
#website .container .row .image-box {
  margin-bottom: 60px;
}

#strategy .container .row .steps,
#community .container .row .steps {
  padding-bottom: 25px;
}
#strategy .container .row .steps .step,
#community .container .row .steps .step {
  background-color: white;
  padding: 30px 20px 10px;
  border-radius: 8px;
  box-shadow: 0 5px 35px 0 rgba(30, 34, 40, 0.07);
}
#strategy .container .row .steps .step .textarea,
#community .container .row .steps .step .textarea {
  padding-left: 15px;
}
#strategy .container .row .steps .step .textarea p,
#community .container .row .steps .step .textarea p {
  font-size: 1.1em;
}

#strategy {
  background-color: #fefefe;
}
#strategy .container .row .steps .step {
  margin: 25px auto;
}
#strategy .container .row .steps .step .number span {
  color: #fab758;
  background-color: #fef3e4;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#strategy .container .row .box-header p {
  padding-bottom: 10px;
  width: 95%;
}

#solutions {
  background-color: #fefefe;
}
#solutions .container .row .box-header {
  padding-top: 50px;
}
#solutions .container .row .box-header ul {
  transform: translateX(-30px);
}
#solutions .container .row .box-header ul li {
  list-style: none;
}
#solutions .container .row .box-header ul li a {
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 50px;
}
#solutions .container .row .box-header ul li a i {
  color: #FFC41D;
  padding-right: 10px;
  font-size: 15px;
}
#solutions .container .row .box-header ul li a:hover {
  color: #FFC41D;
}

#team {
  position: relative;
}
#team .underlay {
  z-index: -1;
  position: absolute;
  top: 380px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(180deg, #FFF8EF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
#team .container .slides .slide {
  background-color: white;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 5px 35px 0 rgba(30, 34, 40, 0.07);
  padding: 30px;
}
#team .container .slides .slide .profile {
  width: 100px;
  margin-bottom: 25px;
}
#team .container .slides .slide .profile img {
  border-radius: 50%;
}
#team .container .slides .slide h6 {
  color: #aab0bc;
}
#team .container .slides .slide .social-box a {
  padding-right: 15px;
}
#team .container .slides .slide .social-box a i {
  transition: 0.3s ease;
}
#team .container .slides .slide .social-box a .fa-twitter {
  color: #5daed5;
}
#team .container .slides .slide .social-box a .fa-facebook-f {
  color: #4470cf;
}
#team .container .slides .slide .social-box a .fa-dribbble {
  color: #d07ead;
}
#team .container .slides .slide .social-box a:hover i {
  transform: translateY(-3px);
}

#team .container,
#services .container {
  position: relative;
}
#team .container .slides,
#services .container .slides {
  position: absolute;
  padding-top: 10px;
  margin: auto;
}
#team .container .bg-design,
#services .container .bg-design {
  position: absolute;
  width: 120px;
  display: none;
}
#team .container .bg-design img,
#services .container .bg-design img {
  opacity: 20%;
}

#solutions2 {
  margin-top: 1260px;
  background-color: #fefefe;
}
#solutions2 .container .row .box-header {
  padding-top: 50px;
}
#solutions2 .container .row .box-header ul {
  list-style: none;
  transform: translateX(-30px);
  font-size: 1.1em;
  line-height: 40px;
}
#solutions2 .container .row .box-header ul li i {
  color: #FAB758;
}

#community {
  background-color: transparent;
  background-image: linear-gradient(0deg, #FFF8EF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-bottom: 100px;
}
#community .container .row .steps .step {
  position: relative;
}
#community .container .row .steps .step .textarea .overlay {
  position: absolute;
  font-size: 4em;
  top: 10px;
  left: 30px;
  opacity: 6%;
}
#community .container .row .steps .step .textarea p {
  padding-top: 10px;
  font-size: 1.1em;
  line-height: 30px;
}
#community .container .row .steps .step .textarea span {
  padding-bottom: 30px;
  display: inline-block;
  font-size: 1.1em;
}

#price {
  background-color: #fefefe;
}
#price .container .row .prices-box .monthly-yearly .switch-box {
  padding-bottom: 30px;
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle {
  position: relative;
  display: inline-block;
  width: 40px;
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle input:checked + .slider:before {
  transform: translateX(16px);
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEF;
  transition: 0.4s;
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #FAB758;
  transition: 0.4s;
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle .slider.round {
  border-radius: 34px;
}
#price .container .row .prices-box .monthly-yearly .switch-box .toggle .slider.round:before {
  border-radius: 50%;
}
#price .container .row .prices-box .plans-box .plan {
  background-color: white;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 5px 35px 0 rgba(30, 34, 40, 0.07);
  padding: 50px 70px 70px;
  width: 100%;
  line-height: 35px;
}
#price .container .row .prices-box .plans-box .plan h1 {
  font-size: 2.7em;
}
#price .container .row .prices-box .plans-box .plan h1 span {
  scale: 0.5;
  display: inline-block;
}
#price .container .row .prices-box .plans-box .plan h5 {
  padding: 10px 0 25px;
}
#price .container .row .prices-box .plans-box .plan ul li i {
  color: #FAB758;
}
#price .container .row .box-header p a {
  color: #FAB758;
  position: relative;
}
#price .container .row .box-header p a::after {
  transition: 0.3s ease;
  content: "";
  position: absolute;
  width: 0;
  bottom: -5px;
  right: 0;
  height: 1px;
  background-color: #FAB758;
}
#price .container .row .box-header p a:hover::after {
  left: 0;
  width: 100%;
}
#price .container .row .box-header .btn-modern {
  margin: 20px 0 30px;
}

#brands .container .row .brand-box {
  width: 13%;
  opacity: 50%;
}
#brands .container .row .brand-box:hover {
  opacity: 100%;
  scale: 1.1;
}

footer {
  background-color: #343F52;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  padding-bottom: 100px;
}
footer .container .row .box {
  margin-top: 100px;
}
footer .container .row .box h1 {
  color: white;
}
footer .container .row hr {
  background-color: white;
  border: none;
  height: 1px;
  margin: 50px 0;
}
footer .container .row .row .stand a,
footer .container .row .row .stand p {
  color: #cacaca;
}
footer .container .row .row .stand p,
footer .container .row .row .stand li {
  line-height: 1.8em;
  font-size: 1.1em;
  font-weight: 400;
}
footer .container .row .row .stand h4 {
  color: white;
  padding-bottom: 10px;
}
footer .container .row .row .stand .social-box a {
  color: white;
  padding-right: 10px;
}
footer .container .row .row .stand .logo {
  width: 60%;
  padding-bottom: 20px;
}
footer .container .row .row .stand:first-child p {
  width: 73.5%;
}
footer .container .row .row .stand:nth-child(2) a:hover, footer .container .row .row .stand:nth-child(3) a:hover {
  color: #fab758;
}
footer .container .row .row .stand:nth-child(2) a {
  line-height: 1.8em;
  font-size: 1.1em;
  font-weight: 400;
}
footer .container .row .row .stand .url-box {
  transform: translateX(-10px);
}
footer .container .row .row .stand .url-box input {
  color: white;
  background-color: #3A4558;
}
footer .container .row .row .stand .url-box input::-moz-placeholder {
  color: #929BAA;
}
footer .container .row .row .stand .url-box input::placeholder {
  color: #929BAA;
}
footer .container .row .row .stand .url-box input:focus {
  outline: 1px solid #FAB758;
}

@media (min-width: 576px) {
  #header .container nav .nav-menu .nav-menu-md ul .search-icon {
    display: list-item;
  }
  #services .container .bg-design {
    display: block;
  }
  #services .container .bg-blue-circle {
    right: -10px;
    bottom: -130px;
  }
  #team .container .bg-design {
    display: block;
  }
  #team .container .bg-blue-circle {
    right: 0;
    bottom: -1200px;
  }
  #website {
    margin-top: 1100px;
    padding-bottom: 200px;
  }
  #community .container .row .steps .step {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  #start {
    padding: 200px 0 50px;
  }
  #start .container .row .text-box h1 {
    font-size: 2.5em;
  }
  #services .container .bg-blue-circle {
    right: 10px;
    bottom: -690px;
  }
  #team .container .bg-blue-circle {
    right: 20px;
    bottom: -690px;
  }
  #website {
    margin-top: 650px;
    padding-bottom: 250px;
  }
  #solutions2 {
    margin-top: 700px;
  }
  #community .container .row .steps .step {
    width: 45%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 12px;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  #header .container nav .nav-menu .nav-menu-lg {
    display: block;
  }
  #header .container nav .nav-menu .nav-menu-md {
    display: none;
  }
  #header .container nav .right-side {
    display: block;
  }
  #start {
    padding: 180px 0 50px;
  }
  #start .container .row .text-box {
    width: 38%;
    margin-left: 30px;
    padding-left: 0px;
  }
  #start .container .row .text-box h1 {
    font-size: 3em;
  }
  #start .container .row .text-box p {
    padding: 12px 0;
  }
  #services .container .box-header h1 {
    margin: auto;
    width: 70%;
  }
  #services .container .slides {
    margin-top: 20px;
  }
  #services .container .bg-yellow-dot {
    left: 30px;
  }
  #services .container .bg-blue-circle {
    right: 20px;
    bottom: -640px;
  }
  #website {
    padding-bottom: 200px;
  }
  #website .container .row .box-header .url-box {
    width: 80%;
  }
  #strategy .container .row .steps .step:first-child {
    margin-right: 30px;
  }
  #strategy .container .row .steps .step:nth-child(2) {
    margin-left: 80px;
  }
  #strategy .container .row .steps .step:last-child {
    margin: 0 20px 0 40px;
  }
  #solutions .container .row .box-header,
  #solutions2 .container .row .box-header {
    padding-top: 0;
    padding-left: 40px;
  }
  #community .container .row .steps {
    width: 60%;
  }
  #community .container .row .box-header {
    width: 40%;
  }
  #price .container .row .box-header {
    padding-right: 25px;
  }
  #price .container .row .prices-box .plans-box {
    padding-left: 60px;
    align-items: center;
  }
  #price .container .row .prices-box .plans-box .plan {
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px 40px 70px;
  }
  #price .container .row .prices-box .plans-box .plan:last-child {
    padding: 70px 40px 90px;
  }
}/*# sourceMappingURL=style.css.map */